/* Importacion de las fuentes*/

@font-face{
    font-family: 'ROBO';
    src: url(..//letter//Roboto-Thin.ttf)
}
/*Google font importacion */
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/* Css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Propiedades para el body con su respectiva imagen de background y tamaños*/
body{
    height: 600px;
    width: 1900px;
    border: solid;
    background-image: url(..//IMAGE/unity3d-unity-yuniti.jpg);
    background-repeat: no-repeat;
    background-size: 1905px 605px;
}

/*Inicio de las columnas (disposicion)*/
.columnas{
    display: flex;
}

/* Esta es nuestra primera columna y sus propiedades*/
.general{
    text-align: center;
    margin-top: 180px;
    font-family: 'GOBS';
    width: 2000px;
}

/* Contenido textual de la columna*/
.first p{
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    text-align: left;
    margin-left: 30px;
    color: white;
    margin-bottom: 26px;
}

/* Contenido textual de la columna*/
.sec p{
    margin-top: 5px;
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* Contenido textual de la columna*/
.third p{
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Implementacion de la caja del logo*/
.logo{
    width: 20%;
    height: 20%;
    display: flex;
}

/*Darle propiedades a la imagen logo */
.logo img{
    width: 300px;
}

/* Alienacion de la lista*/
#lista{
    text-align: right;
    margin-top: -50px;
}
/* Propiedades de la lista y estructuracion de la misma*/
li{
    display: inline;
    padding: 10px;
    font-family: 'ROBO';
    font-weight: bold;
    padding-left: 70px; 
    font-size: 20px;
    font-family: 'ROBO', Arial, Helvetica, sans-serif;
       
}
/*Quitar elementos de el href */
li a{
    text-decoration: none;
    color: white;
}

/* Hover de color para la lista*/
ul :hover{
    color: blue;
    
}

/* Segunda columna y propiedades para que en el body solo este lo que no rompe los margenes*/
.general2{
    width: 120%;
    overflow: hidden;
}
/* Modificar las propiedades para el slider*/
.general2 ul{
    display: flex;
    width: 95%;
    padding: 0;
     /* Tasa de animacion para el slider*/
    animation: cambio 10s infinite alternate;
}

/*estilos de la lista */
.general2 li{
    list-style: none;
    width: 100%;
    
}

/* Darle estilos y colores a la imagen.*/
.general2 img{
    position: relative;
    padding-left: 1200px;
    margin-top: 200px;
    width: 500px;
    height:270px;
    background-color: rgba(179, 132, 165, 0);
}

/*Propiedades de las columnas */
.columnas div a{
    display: flex;
    margin-top: 50px;
    font: bold 25px 'ROBO';
    text-decoration: none;
    color: #f2f2f2;
    border: 4px solid #f2f2f2;
    padding: 10px 10px 10px 15px;
    border-radius: 7px;
    width: 15%;
    margin-left: 250px;
}
/*Tasas de keyframes, que tanto tiempo tarda una imagen en cambiar */
@keyframes cambio{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% { margin-left: -100%;}

    50% { margin-left: -200%;}
    75% { margin-left: -200%;}
}
